<h1>マイページ機能</h1>
<%= image_tag @user.profile_image, size: '50x50' %>
<p>ユーザー名：<%= @user.name %></p>
<p>プロフィール：<%= @user.profile %></p>
<!--フォロー-->
<% if @user == current_user %>
  <%= link_to edit_user_path(@user) do %>
    <i class="fas fa-user-cog"></i>編集
  <% end %>
<% else %>
  <% if current_user.following?(@user) %>
    <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
  <% else %>
    <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
  <% end %>
  <!--Chat-->
  <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
    <%= link_to 'chatを始める', chat_path(user.id) %>
  <% end %>
<% end %>

<h1>自分の投稿一覧</h1>
<% @likes.each do |like| %>
  <!--画像-->
  <%= link_to like_path(like.id) do %>
    <span><%= image_tag like.like_image, size: '50x50' %></span>
  <% end %>
  <!--いいね-->
  <div class=<%= "favorite-" + like.id.to_s %>>
    <%= render 'public/favorites/btn', like: like %>
  </div>
  <!--ユーザー名-->
  <p>ユーザー名</p>
  <span><%= like.user.name %></span>
  <p>タイトル</p>
  <span><%= like.title %></span>
  <p>タグ</p>
  <span>
    <% like.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
  </span>
  <p>内容</p>
  <span><%= like.content %></span><br>
<% end %>
