<header>
  <nav>
    <!--メニュー-->
    <ul>
      <!--ユーザー側-->
      <% if user_signed_in? %>
        <li>
          <%= link_to "新規投稿", new_like_path %>
        </li>
        <li>
          <%= link_to "投稿一覧", likes_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <!--管理者側-->
      <% elsif admin_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <!--ログイン前-->
      <% else %>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
